#header {
    position: absolute;
    width: 100%;
    height: 60px;
    font-size: 18px;
    line-height: 60px;
    color: var(--header-txt);
    top: 0;
    left: 0;
    background-color: var(--header-bg);
    box-sizing: border-box;
    padding: 0px 10px 0px 10px;
}

#header-left {
    width: 200px;
    height: 100%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: var(--title-txt);
}

#header-center {
    width: calc(100% - 400px);
    height: 100%;
    line-height: 65px;
    box-sizing: border-box;
    float: left;
    font-size: 20px;
    color: var(--header-txt);
    overflow: hidden;
}

#header-city-options {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    color: #bf616a;
    border-bottom: 2px solid #bf616a;
}

select {
    cursor: pointer;
    text-align-last:center;
    line-height: 36px;
    background: none;
    outline: none;
    border: none;
}

#header-right {
    width: 200px;
    height: 100%;
    line-height: 65px;
    box-sizing: border-box;
    float: left;
    font-size: 20px;
    color: var(--header-filter-txt);
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}