@import url('https://fonts.googleapis.com/css?family=Barlow|Oxygen|Bellota&display=swap');

body {
    margin: 0;
    font-family: 'Barlow', sans-serif;
    min-width: 1200px;
}

#map { position: absolute; top: 0; bottom: 0; width: 100%; }