#vis {
    width: calc(100% - 300px);
    height: calc(100% - 500px);
    float: left;
    position: relative;
    box-sizing: border-box;
}

#vis-legend {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    padding-left: 100px;
}

#vis-legend-min, #vis-legend-max  {
    float: left;
    width: auto;
    height: 100%;
    box-sizing: border-box;
    color: #252525;
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
}

#vis-legend-bars {
    float: left;
    width: 100px;
    height: 100%;
    box-sizing: border-box;
}

#vis-legend-correct {
    width: auto;
    height: 100%;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 40px;
    float: left;
    padding-left: 50px;
    color: #10ff00;
    font-weight: bold;
}

#vis-legend-incorrect {
    width: auto;
    height: 100%;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 40px;
    float: left;
    padding-left: 20px;
    color: #ff0000;
    font-weight: bold;
}

#vis-output {
    width: 100%;
    height: calc(100% - 300px);
    box-sizing: border-box;
}