#vis {
    width: calc(100% - 500px);
    height: 100%;
    box-sizing: border-box;
    float: left;
}

#vis-actual {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    float: left;
    border-right: 2.5px solid #000;
    position: relative;
}

#vis-actual-legend {
    position: absolute;
    width: auto;
    height: auto;
    top: 5px;
    right: 5px;
    font-size: 20px;
    color: #07ef2c;
}

#vis-predict {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    float: left;
    position: relative;
}

#vis-predict-legend {
    position: absolute;
    width: auto;
    height: auto;
    top: 5px;
    right: 5px;
    font-size: 20px;
    color: aqua;
}

.node circle {
    fill: #fff;
}

.node text {
    font: 14px 'Barlow', sans-serif;
    fill: #fff;
    font-weight: bold;
}

.link {
    fill: none;
    stroke: #bf616a;
    stroke-width: .5px;
}

.node-0 {
    opacity: 0;
}

.link-1 {
    opacity: 0;
}

/*
#vis {
    width: calc(100% - 300px);
    height: calc(100% - 500px);
    float: left;
    position: relative;
    box-sizing: border-box;
}

#vis-legend {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    padding-left: 100px;
}

#vis-legend-min, #vis-legend-max  {
    float: left;
    width: auto;
    height: 100%;
    box-sizing: border-box;
    color: #252525;
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
}

#vis-legend-bars {
    float: left;
    width: 100px;
    height: 100%;
    box-sizing: border-box;
}

#vis-legend-correct {
    width: auto;
    height: 100%;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 40px;
    float: left;
    padding-left: 50px;
    color: #10ff00;
    font-weight: bold;
}

#vis-legend-incorrect {
    width: auto;
    height: 100%;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 40px;
    float: left;
    padding-left: 20px;
    color: #ff0000;
    font-weight: bold;
}

#vis-output {
    width: 100%;
    height: calc(100% - 300px);
    box-sizing: border-box;
}*/